name: 'Run Swift Tests'

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

env:
  AWS_ENABLE_LOGGING : "true"
  AWS_LOG_LEVEL: "trace"

jobs:
  swift-tests:
    name: 'Swift Tests'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - swift:5.7.3-amazonlinux2
    services:
      localstack:
        image: localstack/localstack
    container:
      image: ${{ matrix.image }}
      env:
        LOCALSTACK_ENDPOINT : "http://localstack:4566"
     # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

    steps:
      # Checkout the repository to the GitHub Actions runner
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup 
        run:  |
          yum -y update && yum -y install git make curl
      - name: Test
        run: |
          make test
      - name: Coverage
        run: |
          make coverage
      - name: Upload Code Coverage 
        uses: codecov/codecov-action@v3
        with:
          files: ${{ github.workspace }}/lcov.info